@font-face {
    font-family: "SatoshiBold";
    src: local("SatoshiBold"),
    url("../../assets/Satoshi-Black.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Satoshi";
    src: local("Satoshi"),
    url("../../assets/Satoshi-Variable.ttf") format("truetype");
}

/*Header section*/
.Product {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 15px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    background-color: #001EB9;
    border-radius: 50px;
}

.profileName {
    color: black;
    font-weight: 650;
    font-family: Arial, serif;
    font-size: 12px;
    padding-right: 10px;
}

.iconDown {
    width: 11px;
    padding-right: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

/*Product section*/
.main {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.productName {
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: "SatoshiBold", serif;
    padding-bottom: 10px;
}

.productSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.productSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F7F7F7;
    width: 40%;
    height: 35px;
}

.button {
    background-color: #001EB9;
    width: 100px;
    font-size: 12px;
    height: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.searchText {
    color: white;
    font-family: "Satoshi", serif;
}

.iconSearch {
    width: 11px;
    padding-right: 5px;
}

.textFieldSearch {
    border: none;
    background-color: transparent;
    width: 40%;
    margin-left: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
}

.productRowRight {
    display: flex;
    flex-direction: row;
}

.newProduct {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #001EB9;
    height: 29px;
    width: 120px;
    color: white;
    font-family: "Satoshi", serif;
    font-size: 10px;
    border: none;
    margin-right: 5px;
}

.favouriteBtn {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 25px;
    width: 32px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.singlePro {
    display: flex;
    flex-direction: column;
}

.productsSection {
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.tableNameList {
    display: flex;
    flex-direction: row;
}

.tableName {
    width: 300px;
    color: #001EB9;
    font-size: 12px;
    font-family: "Satoshi", serif;
    font-weight: 500;
}

.endTable {
    width: 120px;
}

.productLine {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-items: center;
}

.productId {
    width: 300px;
    font-size: 12px;
    font-family: "Satoshi", serif;
    font-weight: 500;
}

.productImage {
    width: 60px;
    height: 45px;
}

.imageSection {
    width: 300px;
}

.proEndTool {
    width: 120px;
    display: flex;
    flex-direction: row;
}

.toolPro {
    width: 15px;
    height: 15px;
    padding-right: 13px;
}

.searchResult{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.searchCountText{
    color: gray;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Satoshi", serif;
    letter-spacing: 2px;
}

.productSearchSingle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.proIdSearch{
    font-size: 12px;
    color: #001EB9;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.proNameSearch{
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.proDesSearch{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #162427;
}

.proDetailsSearch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productRowSingle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#imageRight{
    width: 12px;
    height: 16px;
}