@font-face {
    font-family: "SatoshiBold";
    src: local("Satoshi"),
    url("../../assets/Satoshi-Black.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Satoshi";
    src: local("Satoshi"),
    url("../../assets/Satoshi-Variable.ttf") format("truetype");
    font-weight: bold;
}
/*Header section*/
.Product {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-items: end;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 15px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    background-color:#001EB9;
    border-radius: 50px;
}

.profileName{
    color: black;
    font-weight: 650;
    font-family: Arial, serif;
    font-size: 12px;
    padding-right: 10px;
}

.iconDown{
    width: 11px;
    padding-right: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

/*Product section*/
.main{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.productName{
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: "SatoshiBold", serif;
    padding-bottom: 10px;
}

.productSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.productSearchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F7F7F7;
    width: 40%;
    height: 35px;
}

.button{
    background-color: #001EB9;
    width: 100px;
    font-size: 12px;
    height: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.searchText{
    color: white;
    font-family: "Satoshi", serif;
}

.iconSearch{
    width: 11px;
    padding-right: 5px;
}
.textFieldSearch{
    border: none;
    background-color: transparent;
    width: 40%;
    margin-left: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
}
